.sidebar {
    width: 300px;
    height: 100vh;
    border-right: 2px solid rgb(189, 188, 188);
    display: flex;
    padding: 20px;
    flex-direction: column;
}
.navlink {
    border: 1px solid rgb(42, 187, 223);
    margin: 10px 0px;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}
.navlink:hover{
    background-color: rgb(36, 40, 154);
    color: #fff;
}